.agentDetail {
    display: grid;
    grid-template-areas: 
        "lhs    rhs"
        "span   span"
    ;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    .lhs {
        grid-area: lhs;
    }
    .rhs {
        grid-area: rhs;
    }
    .span {
        grid-area: span;
    }
}